/*
body 
{
    font-family: "Arial";
	font-style: normal;
    font-size: 75%;
}
*/

.TreeView 
{
	cursor: pointer; 
    line-height: 20px;
}

.TreeView ul:hover 
{
    background: gray
}

.TreeView LI
{
    /* The padding is for the tree view nodes */
    padding: 0 0 0 18px;
    float: left;
    width: 100%;
    list-style: none;
}

.TreeView, .TreeView ul
{
    margin: 0;
    padding: 0;
}

LI.Expanded 
{
    background: url(minus.gif) no-repeat left top;
}

LI.Expanded ul
{
    display: block;
}

LI.Collapsed 
{
    background: url(plus.gif) no-repeat left top;
}

LI.Collapsed ul
{
    display: none;
}

.Highlighted
{
    color: red;
}

.AlternateHighlight
{
    color: blue;
}

