* 
{
  padding: 0;
  margin: 0;
}

html
{
  overflow: hidden;
}

html, body 
{
  height: 100%;
}

#section_top
{
  height: 30px;
}

#section_middle
{
  /* height, width - see javascript */
  margin: 4px;
  padding: 4px;
  overflow: auto;
  
  border-width: 1px;
}

#section_bottom
{
  height: 30px;
}
